@media (max-width: 1280px) {
    #header {
        padding: 14px 2%;
        transition: 0.2s;
    }
    .nav-menu a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 890px) {
    #menu-icon {
        display: block;
    }
    .nav-menu {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 279px;
        height: 290px;
        background-color: #BF2E97;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .20s ease;
    }
    .nav-menu a {
        display: block;
        margin: 5px 0;
        padding: 0 25px;
    }
    .nav-menu.open {
        left: 0%;
    }
    .info-container {
        display: block;
        height: auto;
        padding: 0 15px;
    }
    
    .right-half {
        margin-bottom: 15px;
    }

    #image-container {
        display: block;
        height: auto;
    }
    #content .left-half {
        overflow: hidden;
    }
    #abtus .left-half {
        overflow: hidden;
    }
    #abtus {
        display: block;
    }
    #abtus .left-half img {
        height: auto;
    }
    .carousel-inner>.item {
        height: auto;
    }
    .carousel-inner>.item.active {
        height: auto !important;
    }

}